html{
    font-size:100%;
}

.popup-all{
    position: fixed;
    top: 20%; 
    left:20%; 
    height:60%; 
    width:60%; 
    background:#FFF; 
    font-size:1rem;
    border-radius: 2.5%;
}

.popup-content-left{
    padding-left:8%;
    width:58%;
    margin-right:2%;
}
.popup-content-right{
    padding-right:8%;
    width:40%;
}

.popup-content{
    padding-top:5%;
    float:left;
}

.popup-content h1{
    font-size:1.3rem;
    width:30%;
    float:left;
}

.popup-content p{
    width:70%;
    float:left;
}

.popup-bottom{
    position:absolute;
    right:8%;
    bottom:0;
}