{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font-Awesome icon-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mypage-dashboard.css' %}">

    <!-- ポップアップ用JQueryプラグイン -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    {% block customcss %}
    <link rel="stylesheet" href="{% static 'css/mypage.css'%}">
    {% endblock customcss %}
    <title>Hello, world!</title>
  </head>
  <body>
    {% block content %}
    {% csrf_token %}
      
      <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="{% url 'list' %}">Event Manager</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'list' %}">Home</a>
              </li>
                {% if user %}
                <li class="nav-item active">              
                  <a class="nav-link" href="">Mypage <span class="sr-only">(current)</span></a>
                </li>
              <li class="nav-item">              
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
                {% else %}
                <li class="nav-item">              
                  <a class="nav-link" href="{% url 'signup' %}">Signin</a>
                </li>
                <li class="nav-item"></li>
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
                {% endif %}
              <li class="nav-item">
                {% if user %}
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ user.username }}</a>
                {% endif %}
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </header>

      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  {% if current_status == 0 %}
                  <a class="nav-link active" href="{% url 'mypage' 0%}">
                  {% else %}
                  <a class="nav-link" href="{% url 'mypage' 0%}">
                  {% endif %}
                    <span data-feather="home"></span>
                    Home <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  {% if current_status == 1 %}
                  <a class="nav-link active" href="{% url 'mypage' 1 %}">
                  {% else %}
                  <a class="nav-link" href="{% url 'mypage' 1 %}">
                  {% endif %}
                    <span data-feather="shopping-cart"></span>
                    Products
                  </a>
                </li>
                <li class="nav-item">
                  {% if current_status == 2 %}
                  <a class="nav-link active" href="{% url 'mypage' 2 %}">
                  {% else %}
                  <a class="nav-link" href="{% url 'mypage' 2 %}">
                  {% endif %}
                    <span data-feather="settings"></span>
                    Settings
                  </a>
                </li>
              </ul>
      
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>My Events</span>
                <a class="d-flex align-items-center text-muted" href="{% url 'createevent' %}" aria-label="Add a new event">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                {% for item in event_list %}
                <li class="nav-item">
                  <a class="nav-link" href="">
                    <span data-feather="file-text"></span>
                    {{ item.eventtitle }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
      
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% if current_status == 0 %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <main role="main">
                  <div class="container">
                    <div class="row">
                      {% for item in event_list %}
                      <div class="col-sm-4">
                        <div class="card mb-4 shadow-sm">
                          <span class="border border-secondary">
                            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                            <div class="card-body" style="height:12rem;">
                              <h5 class="card-title">{{ item.eventtitle }}</h5>
                              <h6 class="card-subtitle mb-2">Card subtitle</h6>
                              <p class="card-text text-truncate" style="height: 2rem;">{{ item.agenda }}</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <form method="POST">{% csrf_token %}
                                    <input type="hidden" name="event_pk" value="{{ item.pk }}">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button>
                                  </form>   
                                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#event-popup{{ item.pk }}">
                                    View
                                  </button>                              
                                </div>
                                <small class="text-muted">9 mins</small>
                              </div>
                            </div>
                            
                          </span>
                        </div>
                      </div>
                      <!-- 
                        ポップアップによるイベント詳細の表示
                        イベント一覧のviewと書かれたaタグにてリンク先にid名のevent-popupを指定しており、
                        aタグをクリックするとhtml下部に書かれたjs文にてポップアップが実行される。
                        イベントごとに表示する内容を変えるのでforタグの中に配置し,id名もそれぞれ独立した名前が付くようにした。
                       -->
                       <div class="modal fade" id="event-popup{{ item.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{ item.eventtitle }}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {{ item.agenda }}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>

                  
                      {% endfor %}

                    </div>
                  </div>
                </main>
                
              </div>
              {% endif %}
              {% if current_status == 2 %}
              <div class="profile-contents">

                <div class="profile-content">
                  <div class="profile-left">
                    <div class="profile-image"><img src="" alt="プロフ画像"></div>
                    <div><h1>Name</h1></div>
                  </div>
                  <div class="profile-right">
                    <div class="message"><p>はじめまして</p></div>
                  </div>
                </div>
                <div class="profile-content profile-footer">
                  <div class="account-change"><p>アカウント情報の変更</p></div>
  
                </div>
              </div>
              {% endif %}

            </main>
          </div>
        </div>

      {% endblock content %}

    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script>feather.replace()</script>
    <!-- ポップアップ用JQueryプラグイン -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        $('.open-popup-link').magnificPopup({
          type:'inline',
          midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
    </script>
  </body>
</html>